/* SUMMARY
    1. LAYOUT
    2. SECTION
*/


/* A combined styles page for all the html pages
pertinent to the ChapaKazi task manager app */

body {
    width: 1440px;
    height: 1024px;
    margin: 5px;
    background-color: #CCCCD3;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*** Section Header ***/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 40px;
    margin-top: 30px;
}


/********* logo *********/

.logo {
    width: 195px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-left: 20px;
}

.logo-icon {
    width: 28.17px;
    height: 30px;
    margin-right: 10px;
    max-width: 100%;
}

.logo-text {
    width: 155px;
    height: 40px;
    font-size: 30px;
    margin-left: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 5px;
}

.search-container img {
    margin-right: 5px;
}

.search-container input {
    width: 400px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
}


/***** menu *****/

.menu {
    margin: auto;
    width: 130px;
    height: 30px;
    margin-right: 15px;
}

.nav {
    display: flex;
    width: 154px;
    height: 38px;
}

.navbar-menu img {
    width: 30px;
    height: 30px;
    max-width: 100%;
    margin-left: 10px;
}

.navbar-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 5px;
}


/** MAIN **/

.main {
    width: 1400px;
    height: 767px;
}

.minor {
    display: flex;
    align-items: center;
}


/***** Section Welcome *****/

.welcome {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 250px;
    height: 40px;
    margin-left: 600px;
    text-align: center;
}

.welcome h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.welcome p {
    font-size: 18px;
    margin-top: 1px;
    font-style: italic;
}


/****** button *****/

.task-button {
    width: 100px;
    height: 35px;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: normal;
    color: #04198C;
    background-color: #A6ABC9;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}


/****** class create *****/

.create-new {
    display: flex;
    align-items: center;
    width: 209px;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.plus-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/****** profile *****/

.profile {
    display: flex;
    align-items: center;
    margin: auto;
    margin-left: 800px;
}

.avatar {
    display: flex;
    align-items: center;
    width: 205px;
    height: 50px;
}

.user {
    flex-direction: column;
    align-items: center;
}

.user>p:first-child {
    height: 22px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
}

.user>p:last-child {
    font-size: 14px;
    height: 20px;
    margin-top: 1px;
}

.avatar-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    max-width: 100%;
    cursor: pointer;
}


/***** TASKS *****/

.task-container {
    width: 1400px;
    height: 482.65px;
}

.h2-task {
    width: 68px;
    height: 35px;
    font-size: 21px;
    margin-bottom: 3px;
    margin-left: 25px;
}

.task-tab {
    width: 1400px;
    height: 102px;
    border-radius: 10px;
    background-color: #DDDAF2;
    margin-bottom: 8px;
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
}

.task-heading {
    height: 25px;
    font-size: 18px;
    margin-left: 35px;
}

.reminder {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 110px;
    height: 26px;
    margin-top: 10px;
}

.reminder-icon {
    margin-right: 5px;
    width: 26px;
    height: 26px;
    max-width: 100%;
}

.priority {
    display: flex;
    align-items: center;
    width: 92px;
    height: 34px;
    margin-top: auto;
    margin-left: 35px;
    margin-bottom: 10px;
}

.low-icon,
.medium-icon,
.high-icon {
    margin-right: 5px;
    width: 34px;
    height: 34px;
    max-width: 100%;
}

.due-date {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    height: 24px;
}

.reminder-checkbox {
    margin-left: auto;
    display: flex;
    width: 140px;
    height: 28px;
    margin-top: 10px;
    margin-left: 100px;
}

.visually-hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.checkbox {
    cursor: pointer;
    margin-left: auto;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 4px;
}

.edit-icon,
.delete-icon {
    width: 26px;
    height: 26px;
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.edit-delete {
    display: flex;
    align-items: center;
    margin-top: auto;
    width: 55px;
    height: 28px;
    margin-right: 40px;
}


/***** CATEGORY *****/

.category-container {
    width: 647px;
    height: 105px;
}

.category {
    display: flex;
    margin-left: 25px;
}

.category-heading {
    width: 119px;
    height: 29px;
    font-size: 21px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.category-1,
.category-2,
.category-3 {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 35px;
}

.priority-icon {
    margin-right: 20px;
    max-width: 100%;
}

.category-icon {
    width: 50px;
    height: 50px;
    max-width: 100%;
}


/**** Confirmation Dialogue ****/

.confirmation-dialogue {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #A6ABC9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.confirmation-dialogue p {
    margin-bottom: 10px;
}

.confirmation-dialogue button {
    margin: 0 10px;
}


/**** OTHER FORMS ****/

.form-button {
    width: 100px;
    height: 35px;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 20px;
    font-weight: normal;
    color: #04198C;
    background-color: #A6ABC9;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}


/*** OTHER HTML PAGES ***/


/****** signup-form.html *****/

.signup {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.signup h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.signup label {
    font-size: 16px;
    font-weight: bold;
}

.signup input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.signup button {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #04198C;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20%;
}

.signup button:hover {
    background-color: #A6ABC9;
}

#message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #04198C;
}

#message.error {
    color: #FF0000;
}


/**** login.html file ****/

.login {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.login label,
.login input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.login label {
    font-weight: bold;
}

.login input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    width: 80px;
    padding: 10px;
    font-size: 16px;
    background-color: #A6ABC9;
    border: none;
    border-radius: 5px;
    color: #04198C;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 100px;
}

.login button:hover {
    background-color: #04198C;
    color: #A6ABC9;
}


/****** settings.html *****/


/**** new-task.html file ****/

.create {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.create form {
    text-align: center;
}

.create label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.create input,
.create select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.create button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #04198C;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create button:hover {
    background-color: #A6ABC9;
}

#message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #04198C;
}

#message.error {
    color: #FF0000;
}


/**** all-tasks.html file ****/

.all-tasks {
    width: 1400px;
    height: 580px;
}


/**** edit-task.html file ****/

.edit {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.edit form {
    text-align: center;
}

.edit label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.edit input,
.edit select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.edit button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #04198C;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit button:hover {
    background-color: #A6ABC9;
}

#message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #04198C;
}

#message.error {
    color: #FF0000;
}